@using hulilab.Models.Common
<!DOCTYPE html>
<html>
<head>
    <title>@Constants.ADMINWEBTITLE</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>
<!-- end #header -->
@RenderSection("Head", false)
<body>
    <div id="header">
        <div id="logo">
            <h1>
                <a href="#">胡理的实验室</a></h1>
            <p>
                认知与人格教育部重点实验室，西南大学心理学部，中国</p>
        </div>
        <div id="menu">
            <ul>
                <li>@Html.ActionLink("首页", "Index", "Admin")</li>
                <li>@Html.ActionLink("个人资料", "EditMember", "Admin")</li>
                <li>@Html.ActionLink("基金项目管理", "ProjectManagement", "Admin")</li>
                <li>@Html.ActionLink("成员管理", "TeamManagement", "Admin")</li>
                <li>@Html.ActionLink("共享资料", "ShareManagement", "Admin")</li>
                <li>@Html.ActionLink("评论管理", "CommentManagement", "Admin")</li>
                <li>@Html.ActionLink("论文管理", "PublicationManagement", "Admin")</li>
            </ul>
        </div>
    </div>
    <!-- end #menu -->
    <div id="page">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <!-- end #page -->
    <div id="footer" class="inner" style="padding-top: 20px">
        <div style="text-align: center;">@Html.ActionLink("首页", "Index", "Admin")|@Html.ActionLink("个人资料", "EditMember", "Admin")|@Html.ActionLink("共享资料", "ShareManagement", "Admin")</div>
        <a href="@Url.Content("~/member/logout")" style="float:right;width:100px;text-decoration:none;color:#215990;" class="more">
            退出</a></div>
    <p style="text-align: center">
        Copyright &#169; 2013 hulilab.com. All rights reserved.</p>
    </div>
    <!-- end #footer -->
</body>
</html>
