@model hulilab.Models.DAL.Project
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("EditProject", "Member", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <div class="inner">
        <div class="block">
            <div class="blocktitle">
                <h3>
                    基金项目信息<span class="mark">（*必填）</span></h3>
            </div>
            <div class="blockcontent">
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Userid)
                <div class="editor-label">
                    @Html.LabelFor(model => model.Duration)<span class="mark"> * </span>
                </div>
                <div class="editor-field">
                  @Html.TextBoxFor(model => model.Duration, new { @class = "edittextbox" })
                    @Html.ValidationMessageFor(model => model.Duration)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.EnuTitle)<span class="mark"> * </span>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.EnuTitle, new { @class = "edittextbox" })
                    @Html.ValidationMessageFor(model => model.EnuTitle)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ChsTitle)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ChsTitle, new { @class = "edittextbox" })
                    @Html.ValidationMessageFor(model => model.ChsTitle)
                </div>
                <p>
                    <input type="submit" value="修改" class="btn" />
                </p>
            </div>
        </div>
    </div>
}
