@using hulilab.Models.DAL
@using hulilab.Models.BLL
@using hulilab.Models.Common
@{
    int? userId = StringHelper.ConvertObjectToInt(Request.Params["userid"]);
    Member member = new Member();

    if (null == userId)
    {
        userId = StringHelper.ConvertObjectToInt(Session["userId"]);
    }

    if (null != userId && userId > 0)
    {
        member.ID = userId;
    }
    else
    {
        Response.Redirect(Url.Content("~/Home"));
    }
    MemberService ms = new MemberService();
    if (!ms.Find(member))
    {
        Response.Redirect(Url.Content("~/Home"));
    }
}
<div class="block">
    <div class="blocktitle">
        <h3>
            Personal Information</h3>
    </div>
    <div class="blockcontent">
        <table class="full">
            <thead>
                <tr>
                    <td style="width: 20%">
                    </td>
                    <td style="width: 80%">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>@member.EnuName
                    </td>
                </tr>
                <tr>
                    <td>
                        Sex
                    </td>
                    <td>@StringHelper.GetSex(member.Sex, Language.ENU)
                    </td>
                </tr>
                <tr>
                    <td>
                        Introduction
                    </td>
                    <td>@Html.Raw(StringHelper.convertStringLineBreakToHtmlFormat(member.EnuIntroduction))
                    </td>
                </tr>
                <tr>
                    <td>
                        Research Field
                    </td>
                    <td>@Html.Raw(StringHelper.convertStringLineBreakToHtmlFormat(member.EnuResearchField))
                    </td>
                </tr>
                <tr>
                    <td>
                        Education History
                    </td>
                    <td>@Html.Raw(StringHelper.convertStringLineBreakToHtmlFormat(member.EnuEducationHistory))
                    </td>
                </tr>
                <tr>
                    <td>
                        Awards
                    </td>
                    <td>@Html.Raw(StringHelper.convertStringLineBreakToHtmlFormat(member.EnuAwards))
                    </td>
                </tr>
                @if (member.IsTeacher != null && (bool)member.IsTeacher)
                {
                    <tr>
                        <td>
                            Academic Position
                        </td>
                        <td>@Html.Raw(StringHelper.convertStringLineBreakToHtmlFormat(member.EnuAcademicPosition))
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        Phone
                    </td>
                    <td>@member.Phone
                    </td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>@member.Email
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="block">
    <div class="blocktitle">
        <h3>
            Projects</h3>
    </div>
    <div class="blockcontent">
        @{
            ProjectService ps = new ProjectService();
            List<Project> projects;
            if (ps.LoadUserProjects((int)userId, out projects))
            {
                if (projects.Count == 0)
                {
            <p>
                No projects yet</p>
                }
                else
                {
            <table class="full">
                <thead>
                    <tr>
                        <th style="width: 20%">
                            Duration
                        </th>
                        <th style="width: 80%">
                            Project Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Project project in projects)
                    {
                        <tr>
                            <td>@project.Duration
                            </td>
                            <td>@project.EnuTitle
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
                }
            }
        }
    </div>
</div>
